@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --tracking-normal: -0.02em;
}

@layer base {
  html {
    font-size: 14px;
    letter-spacing: -0.02em;
  }

  body {
    @apply bg-black text-white;
  }
}
